*$py.class
*.bak
*.BAK
*.cover
*.egg
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
.cache
.coverage
.coverage.*
.dmypy.json
.env
**/.idea
.installed.cfg
.ipynb_checkpoints
.pdm-python
.pdm.toml
.Python
.ropeproject
.scrapy
.spyderproject
.spyproject
.venv
.webassets-cache
celerybeat-schedule
celerybeat.pid
coverage.xml
db.sqlite3
db.sqlite3-journal
dmypy.json
ipython_config.py
local_settings.py
MANIFEST
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
*.egg-info/
.eggs/
.hypothesis/
**/.idea/
.mypy_cache/
.nox/
.pdm-build/
.pybuilder/
.pyre/
.pytest_cache/
.pytype/
.tox/
__pycache__/
__pypackages__/
build/
cover/
cython_debug/
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
htmlcov/
instance/
lib/
lib64/
parts/
profile_default/
sdist/
share/python-wheels/
target/
var/
venv/
wheels/